## Author
Prayoga Sungkowo
# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.
**Objectives:**
- Create markdown cell with title of the notebook
- Create a markdown cell for an introduction
- Create a markdown cell to list data science languages
- Create a markdown cell to list data science libraries
- Create a markdown cell with a table of Data Science tools
- Create a markdown cell introducing arithmetic expression examples
- Create a code cell to multiply and add numbers
- Create a code cell to convert minutes to hours
- Insert a markdown cell to list Objectives
- Create a markdown cell to indicate the Author's name
- Share your notebook through GitHub
- Take a screenshot of the first page of the notebook and save it as 1-notebook.png
Some of the popular languages that Data Scientists use are:
    * R
    * Python
    * Julia
Some of the commonly used libraries used by Data Scientists include:
    * NumPy
    * Pandas
    * Matplotlib
    
| Data Science Tools            |
| ----------------------------- |
| Jupyter Notebook              |
| R Studio                      |
| Visual Studio Code (VS Code   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
p = (3*4)+5
print(p)

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335